.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;

  &__header {
    display: flex;
    width: 100%;
    border-bottom: 1px outset var(--ms-border-gray);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px;

    &-avatar img {
      width: 30px;
      height: 30px;
    }
  }

  &__body {
    flex: 1 0;
    overflow: auto;
    padding: 10px;

    &_no-message {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-message {
      width: 100%;
      margin-bottom: 10px;
      flex-direction: row;
      display: flex;

      &-text {
        padding: 5px 10px;
        display: inline-block;
      }

      &.sent {
        justify-content: end;

        .chat__body-message-text {
          background: #d8ffca;
          border-radius: 5px 5px 0;
        }
      }

      &.recieved {
        justify-content: start;

        .chat__body-message-text {
          background: #f1f1f1;
          border-radius: 5px 5px 5px 0;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    padding: 10px 10px 0;
    display: flex;
    background: var(--ms-light-gray-color);

    &-textarea {
      flex: 1;
    }

    textarea {
      width: 100%;
    }
  }
}
