/* Windows 3.11 styled window */
.window {
  position: relative;
  background: var(--ms-border-gray);
  padding: 2px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
}

.window__container {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #000;
  z-index: 9999;
}

.window__title {
  background: var(--ms-blue-color);
  color: #fff;
  text-align: center;
  line-height: 24px;
  height: 25px;
  font-weight: 500;
  border-bottom: solid 1px var(--border-color);
}

.window__title .button {
  height: 24px;
  width: 24px;
  float: right;
  line-height: 20px;
  z-index: 5555;
}

.window__title .close {
  float: left;
  color: #fff;
  font-weight: 800;
  font-size: 21px;
  line-height: 16px;
  margin-right: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.window__title #min {
  margin-left: 10px;
}

.window__content {
  flex: 1;
}

.window__handle {
  position: absolute;
  height: 29px;
  width: 29px;
  border: solid 1px #000;
}

.window__handle_topright {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}

.window__handle_bottomright {
  bottom: -1px;
  right: -1px;
  cursor: nw-resize;
}

.window__handle_topleft {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}

.window__handle_bottomleft {
  bottom: -1px;
  left: -1px;
  cursor: ne-resize;
}


.window.maximized {
  width: 100%;
  height: 100%;
}

.window.minimized {
  position: absolute;
  left: 5px;
  bottom: 0;
}

.window.minimized .window__content,
.window.minimized .window__handle {
  display: none;
}

.menu-bar {
  height: 24px;
  border-bottom: solid 1px var(--border-color);
}

.menu-bar__item {
  line-height: 24px;
  padding: 0 7px;
  display: inline-block;
}

.menu-bar__item a {
  color: inherit;
  text-decoration: none;
}

.menu-bar__item:active {
  background: var(--ms-blue-color);
  color: #fff;
}
