---
styles:
- "./styles.css"
---

<main class="profile-page">
  {{!< base}}
  {{#> "window/window" title="Изменить пароль" }}

  <form class="form aligned">
    {{> input label="Старый пароль:" name="password" value=signIn.password type="password"}}
    {{> input label="Новый пароль:" name="password2" value=signIn.password type="password"}}
    {{> input label="Повторите новый пароль:" name="newpassword" type="password"}}

    <a class="button" href="./index.hbs">Сохранить</a>
  </form>
  {{/ "window/window" }}
</main>