---
styles:
- "./styles.css"
---

<main class="profile-page">
  {{!< base}}
  {{#> "window/window" title="Изменить данные профиля" }}
  <div class="profile-page__avatar">
    <img src="../../assets/avatar.png" alt="avatar">
  </div>

  <h3 class="profile-page__title">{{profile.first_name}} {{profile.second_name}}</h3>

  <form class="form aligned">
    {{> input label="Логин:" name="login" value=profile.login type="text"}}
    {{> input label="Почта:" name="email" value=profile.email type="email"}}
    {{> input label="Имя:" name="first_name" value=profile.first_name type="text"}}
    {{> input label="Фамилия:" name="second_name" value=profile.second_name type="text"}}
    {{> input label="Имя в чате:" name="display_name" value=profile.display_name type="text"}}
    {{> input label="Телефон:" name="phone" value=profile.first_name type="tel"}}

    <a class="button" href="./index.hbs">Сохранить</a>
  </form>
  {{/ "window/window" }}
</main>