---
styles:
- "./styles.css"
---

<main class="messenger-page">
  {{!< base}}
  {{#> "window/window" title="Мессенджер" }}
  <div class="messenger-layout">
    <div class="messenger-layout__menu-bar menu-bar">
      <div class="menu-bar__item">
        <a href="../profile/index.hbs">
          <span class="text-underlined">П</span>рофиль
        </a>
      </div>
      <div class="menu-bar__item">
        <span class="text-underlined">Н</span>астройки
      </div>
      <div class="menu-bar__item">
        <span class="text-underlined">В</span>ид
      </div>
      <div class="menu-bar__item">
        П<span class="text-underlined">о</span>мощь
      </div>
    </div>
    <div class="messenger-layout__content">
      <div class="chat-list">
        {{#each chatListItems}}
        {{> chatListItem}}
        {{/each}}
      </div>
      <div class="chat-content">
        Выберите чат, чтобы отправить сообщение
      </div>
    </div>
  </div>
  {{/ "window/window" }}
</main>